.categoryBar {
  width: 120px;
  padding-top: 10px;
}

.categoryButton {
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 12px;
  padding-left: 4px;
  border-radius: 0px 18px 18px 00px; /* Different radius for each corner */
}

.categoryButton:hover {
  background-color: #cecbcb;
}

.singleMessageUI {
  width: 920px;
  padding-top: 10px;
  border: 1px red solid;
}

.singleMessageDataFlex {
  width: 720px;
  border: 1px blue solid;
  padding: 12px;
}

.singleMsgTitleDiv {
  font-size: 115%;
  font-weight: bold;
}

.singleMsgContenteDiv {
  border: 1px black solid;
  height: 300px;
  padding: 8px;;
}

/*
.singleSubmissionButtonFlex {
  background-color: pink;
}
*/

.listDiv {
  height: 720px;
  width: 920px;
  padding-top: 10px;
  border: 1px red solid;
}

.tileDiv {
  border-bottom: 1px black solid;
  cursor: pointer;
}

.senderDiv {
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
  width: 120px; /* Example: Set a specific width for truncation to occur */
}

.titleDiv {
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
  width: 120px; /* Example: Set a specific width for truncation to occur */
}

.optionsDiv {
  border: 1px green solid;
}

.urlSubmissionListDiv {
  width: 606px;
  padding-top: 10px;
}
