/* AdminIssuesPage.css */

.formRoot {
  border: 1px black solid;
  padding: 6px;
}

.formRoot2 {
  margin-top: 12px;
  border: 1px black solid;
  padding: 6px;
}

.textFieldLabel {
  margin-top: 12px;
}

.issueIdDiv {
  width: 500px;
}

.issueIdInput {
  width: 100%;
}
