/* AdminUncloisteredPage.css */

.adminUncloisteredListDiv {
  height: 410px;
  width: 800px;
  border: 1px black solid;
  overflow-y: auto; /* Enables vertical scrolling */
  margin-top: -16px;
}

.myTile {
  border: 1px black solid;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.adminUncloisteredUrlsDiv {
  width: 800px;
}

.adminCloisteredUrlsDiv {
  width: 800px;
}

.adminUncloisteredInstructionsDiv {
  height: 592px;
  width: 220px;
  border: 1px black solid;
  margin-top: 16px; /* Aligns with the list div */
  padding: 4px;
}

.instuctionsTitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.instructionsStepDiv {
  margin-bottom: 16px;
}


