/* AdminIssuesPage.css */

.activityRadioButtonsDiv {
  margin-top: 12px;
  margin-bottom: 12px;
}

.issueScrollDiv {
  height: 400px;
  width: 720px;
  overflow-y: scroll;
  border: 2px black solid;
}

.issueTileRoot {
  border-bottom: 1px black solid;
  padding: 6px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.otherFieldsFormRoot {
  border: 1px black solid;
  padding: 6px;
}

.formRoot2 {
  margin-top: 12px;
  border: 1px black solid;
  padding: 6px;
}

.textFieldLabel {
  margin-top: 12px;
}

.issueIdDiv {
  width: 500px;
}

.issueIdInput {
  width: 100%;
}

.otherFieldsFormButtonsDiv {
  margin-top: 6px;
  display: flex;
  gap: 24px;
} 
