/* CommentsPage.css */

.commentsAreaDiv {
  height: 676px;
  overflow-y: auto; 
  margin-bottom: 8px;
}

.commentPanelDiv {
  background-color: rgb(86, 13, 165);
  color: white;
  width: 1036px;
}

.commentTileDiv {
  padding: 6px 6px 6px 12px;
  border-top: 1px whitesmoke dashed;
}

.emailAndTimeSpan {
  font-size: 85%;
}
