/* HomePage.css */

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px; /* Adjust based on your layout */
  margin-top: 200px; /* Adjust based on your layout */
}

.claimCardRoot {
  margin-top: 10px;
  border: 3px black solid;
  border-radius: 8px;
  height: 100px;
  width: 1040px;
  background-color: yellow;
  padding: 6px;
  font-size: 150%;
  font-weight: bold;
  display: flex;
  align-items: center; /* Vertically centers items along the cross-axis */
}
