/* PlayPage01.css */

.pp01Root {
  padding: 10px;
}

.demo-content {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-top: 4px;
  width: 360px;
  background-color: #e0e0;
}

.demo-content h3 {
  margin-top: 0;
}

.demo-content p {
  margin-bottom: 0;
}
