/* PlayPage02.css */

.activityChoiceDiv {
  margin-top: 24px;
  margin-left: 50px;
}

.activityButtonsDiv {
  margin-left: 16px;
}

.otherFieldsFormDiv {
  width: 800px;
  border: 2px green solid;
  margin-top: 16px;
  padding: 16px;
}

.issueScrollDiv {
  width: 500px;
  height: 300px;
  border: 1px black solid;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
}

.chosenIssueLabel {
  margin-top: 10px;
}

.chosenIssue {
  /*margin-top: 10px;*/
  width: 240px;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for truncated text */
}

.claimLabelDiv {
  font-weight: bold;
  margin-top: 16px;
}

.claimDiv {
  width: 700px;
}

.priorityLabelDiv {
  font-weight: bold;
  margin-top: 16px;
}

.priorityDiv {
  width: 120px;
}

.availabilityButtons {
  /*font-weight: bold;*/
}

.availabilityLabel{
  font-weight: bold;
}

.availabilityButtonDiv {
  margin-left: 20px;
}

.otherFieldsFormButtonsDiv {
  margin-left: 40px;
}

.otherFieldsFormButton {
  margin-left: 20px;
}

.issueTileRoot {
  border-bottom: 1px black solid;
}

.issueTileRoot:hover {
  cursor: pointer;
}
