/* ToastNotifier.css */

.commentFormRootRoot {
  width: 550px;
  height: 500px;
  border: 3px yellow solid;
  background-color:rgb(229, 245, 250);
  z-index: 2;
  position: absolute;
  top: 300px;
  left: 600px;
  /*left: 100px;*/
  direction: row;
  border-radius: 12px;
}

.topBlackBar {
  background-color: black;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.submissionFormCloseIconDiv {
  margin-left: 500px;
}

.submissionFormCloseIcon {
  font-size: 180%;
  color: white;
  margin-top: 10px;
}

.submissionFormCloseIcon:hover {
  cursor: pointer;
}

.invitation {
  margin-left: 16px;
  font-size: 120%;
}

.emphasizedSpan {
  font-style: italic;
}

.submissionFormTextArea {
  background-color: white;
}

.buttonRow {
  margin-left: 20px;
}

.remainingCharsDiv {
  margin-left: 160px;
}
