.bar {
  height: 730px;
  width: 154px;
  border: 1px solid blue;
  padding: 6px;
  margin: 1px;
  background-color: #d0e0ff;
}

.navBarItem {
  padding-left: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 140%;
}

.navBarItem:hover {
  background-color: #a2aff8;
/*  background-color: #c5ccf5;*/
}

.stuckOnItem {
  padding-left: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 140%;
  background-color: #a2aff8;
}
