/* SubmissionEditor.css */

.titleLabelDiv {
  /*color: blue;
  font-weight: bold;*/
  margin-top: 16px;
  font-size: 115%;
}

#deleteButton {
  margin-left: auto;
  margin-right: 12px;
  margin-top: 12px;
  background-color: #f44336; /* Red */
  color: white;
  padding: 0px 20px;
}
