/* ToastNotifier.css */

.toastNotifierRoot {
  width: 350px;
  height: 90px;
  border: 3px yellow solid;
  background-color: green;
  z-index: 2;
  position: absolute;
  top: 300px;
  left: 600px;
  display: none;
  direction: row;
  border-radius: 12px;
}

.toastMessage {
  width: 316px;
  height: 86px;
  padding: 12px;
  color: white;
  margin: 0px;
  display: flex;
  align-items: center; /* Vertically centers items along the cross-axis */
}

.toastCloseIcon {
  margin-top: 36px;
  color: white;
}
